/*header*/

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'montserrat-regular';
    font-size: 12pt;
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
}

.primary-font-bold {
    font-family: 'montserrat-bold';
    letter-spacing: 0.001em;
}

/********** header ***********/

.header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/header-bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.navbar-toggled {
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0px 5px 5px #d3d3d3;
}

.avatar-class {
    color: white;
}

.avatar-class:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.avatar-class img {
    width: 48px;
    height: 50px;
    border-width: 1px;
    border-color: red;
    border-radius: 50px;
}

.avatar-class div {
    font-family: 'montserrat-regular';
    font-size: 9pt;
}

.menu-item {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12pt;
}

.menu-item:hover {
    color: inherit;
    text-decoration: none;
}

.header-title {
    letter-spacing: 0.001em;
    color: #ffffff;
}

/*************************/

.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.section-light {
    background-color: #f9f9f9;
    color: #555;
}

.section-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/notebook.jpg');
    background-size: cover;
    background-position: center bottom;
    color: white;
}

.section-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/wooden-table.jpg');
    background-size: cover;
    background-position: center bottom;
    color: white;
}

.section-сopyright {
    background-color: #efefef;
}

.regular-title {
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.001em;
}


/******** skills *********/
.skills p {
    font-size: 13pt;
}

.skills span {
    font-size: 12pt;
}

.skills i {
    font-size: 2em;
    margin-top: 3px;
}
/*************************/


/******* portfolio *******/

.filters button {
    text-transform: uppercase;
    margin: 0px 5px;

}

.mixitup-control-active {
    background-color: #000 !important;
    color: #fff;
    outline: none !important;
    box-shadow: none !important;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 100%;
}

.project-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.8);
    color: #fff;
    opacity: 0;
}

.project-desc:hover, .project-desc-active {
    opacity: 1;
}

.project-desc h3 {
    font-weight: bold;
}

.project p {
    font-size: 14pt;
}

/*************************/




/******* portfolio *******/

.contact-text {
    color: rgba(255, 255, 255, 0.6);
}

.contact-icon {
    width: 48px;
    height: 48px;
    margin: 0px;
}

/*************************/

.copyright {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #efefef;
}