/*header*/

@font-face {
    font-family: 'montserrat-regular';
    src: url('./fonts/Montserrat-Regular.otf');
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('./fonts/Montserrat-Bold.otf');
}

@font-face {
    font-family: 'wisdom';
    src: url('./fonts/Wisdom Script AJ.otf');
}

@font-face {
    font-family: 'droidserif-italic';
    src: url('./fonts/DroidSerif-Italic.ttf');
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'montserrat-regular';
    font-size: 12pt;
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    position: relative;
}

.primary-font-bold {
    font-family: 'montserrat-bold';
}

/********** header ***********/

.header-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/header-bg.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.navbar-toggled {
    background-color: #d3d3d3;
    color: black;
    box-shadow: 0px 5px 5px #bdbdbd;
}

.avatar-class {
    color: white;
}

.avatar-class:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.avatar-class img {
    width: 48px;
    height: 50px;
    border-width: 1px;
    border-color: red;
    border-radius: 50px;
}

.avatar-class div {
    font-family: 'montserrat-regular';
    font-size: 9pt;
}

.menu-item {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12pt;
}

.menu-item:hover {
    color: inherit;
    text-decoration: none;
}

.header-container {
    height:calc(100% - 77px); 
}

.author {
    font-family: 'montserrat-bold';
    font-size: 50pt;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.001em;
}

.role {
    color: #ffffff;
    letter-spacing: 0.0001em;
}

.tell-me-more {
    margin-top: 20px;
}

.tell-me-more button {
    font-family: 'montserrat-bold';
    font-size: 15pt;
    color: #ffffff;
    text-transform: uppercase;
    height: 65px;
}

/*************************/

.logo-text {
    font-family: 'wisdom';
    font-size: 26pt;
    color: #ffffff;
}

.custom-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.section-light {
    background-color: #f9f9f9;
    color: #555;
}

.section-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/notebook.jpg');
    background-size: cover;
    background-position: center bottom;
    color: white;
}

.section-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/wooden-table.jpg');
    background-size: cover;
    background-position: center bottom;
    color: white;
}

.regular-title {
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.001em;
}

.bold-title {
    font-family: 'montserrat-bold';
    text-transform: uppercase;
    letter-spacing: 0.001em;
}

.about h2 {
    font-size: 28pt;
}

.about h3 {
    font-size: 20pt;
    padding: 15px 0px;
}


/******** skills *********/
.skills p {
    font-size: 13pt;
}

.skills span {
    font-size: 12pt;
}

.skills i {
    font-size: 2em;
    margin-top: 3px;
}

/*************************/


/******* portfolio *******/

.filters button {
    text-transform: uppercase;
    margin: 0px 5px;

}

.mixitup-control-active {
    background-color: #000 !important;
    color: #fff;
    outline: none !important;
    box-shadow: none !important;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: 100%;
}

.project-desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.8);
    color: #fff;
    opacity: 0;
}

.project-desc:hover {
    opacity: 1;
}

.project-desc h3 {
    font-weight: bold;
}

/*************************/




/******* portfolio *******/

.contact-text {
    color: rgba(255, 255, 255, 0.6);
}

.contact-icon {
    width: 48px;
    height: 48px;
    margin: 0px;
}

.melston-phones {
    width: 100%;
    height: auto;
}

.melston-carousel-image {
    width: auto;
    height: 450px;
}

/*************************/
